/* ################ LOGIN ################ */
*{
    box-sizing: border-box;
}
.gradient-custom-2 {
    background: #3836a1;
    
    margin: 0;
    padding: 0;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }