<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposta Oficial Corporativa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .header,
        .footer {
            text-align: center;
        }

        .header h1,
        .footer p {
            margin: 0;
        }

        .section {
            margin-bottom: 20px;
        }

        .section h2 {
            margin-top: 0;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }



        .content p {
            margin: 0 0 10px;
        }
    </style>
</head>


<body>
    <div class="container">
        <div class="header">
            <h1>##TITULO_PROPOSTA##</h1>
            <p>Data: ##DATA_COMPLETA##.</p>
        </div>
        <div class="section">
            <p>Ao Sr.(a) ##NOME_COMPLETO##</p>
        </div>
        <div class="section">
            <table class="table">
                <thead>
                    <tr>
                        <th>Serviço Nacional de Aprendizagem Comercial (Senac)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li> Jurídica de direito privado.</li>
                                <li>Instituído por meio do Decreto Presidencial nº 8.621/46 e nº 8.622/46.</li>
                                <li>Sem fins lucrativos tendo como atividade-fim a prestação de serviços de ensino
                                    extensão
                                    desenvolvimento institucional tecnológico e estímulo à inovação.</li>
                                <li>Passível de contratação por dispensa de licitação fundamentado no inciso XV do
                                    artigo 75 da
                                    nova Lei de Licitações Lei Federal nº 14.133 / 2021</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="section">
            <table class="table">
                <thead>
                    <tr>
                        <th>Unidades do Senac Santa Catarina</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>28 Unidades Educacionais espalhadas pelo Estado e o Departamento Regional</li>
                                <li>02 Unidades Móveis – Carretas-Escolas: Açougue e Panificação - proporcionam ações de
                                    Educação
                                    Profissional às pessoas das comunidades onde não há unidades físicas instaladas.
                                </li>
                                <li>A Rede Nacional de Educação a Distância (EAD) tem um portfólio amplo para diferentes
                                    atendimentos.</li>
                                <li>A Instituição possui aproximadamente 45.000 m² de área construída e um corpo
                                    funcional
                                    com mais de 2.375
                                    colaboradores.</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="section">
            <h2>Objetivo da Proposta</h2>
            <p>Esta proposta pretende atender as necessidades de aprimoramento e desenvolvimento profissional da
                organização no intuito de proporcionar condições mais efetivas para obtenção de melhores resultados na
                satisfação das necessidades dos clientes e ainda contribuindo para uma gestão de seus recursos quer
                sejam eles materiais financeiros ou humanos.</p>
            <p>Aguardamos sua avaliação e ficamos à disposição para outras informações.</p>
        </div>
        <div class="section">
            <h2>Detalhamento da Proposta</h2>
            <ul>
                <li>Cliente: ##CLIENTE##</li>
                <li>Título do projeto/proposta: ##TITULO##</li>
                <li>Objetivo geral do projeto/proposta: ##PROPOSTA##</li>
                <li>Período de realização previsto: ##PERIODO##</li>
            </ul>
            <p>Se houver essa previsão deve-se inserir o mês de início e fim do projeto.</p>
            <p>Detalhamento do projeto/proposta:
        </div>
        <div class="section">
            <table class="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Carga Horária</th>
                        <th>Público-alvo</th>
                        <th>Objetivo</th>
                        <th>Conteúdo Programático (ementa)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>##TITULO DA AÇÃO##</td>
                        <td>##HORAS## horas</td>
                        <td>##PUBLICO ALVO##</td>
                        <td>##OBJETIVO DA AÇÂO##</td>
                        <td>##EMENTA##</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <h2>Atribuições/Responsabilidades</h2>
            <p>Atribuições/responsabilidades do Senac:</p>
            <ul>
                <li>
                    Aplicação de metodologias relacionadas as boas práticas das áreas de abrangência de cada ação.
                </li>
                <li>Coordenar e executar o processo de seleção, contratação e pagamento dos especialistas.
                </li>
                <li>Elaboração de estratégias educacionais propiciando um planejamento significativo com vistas, ao
                    desenvolvimento de habilidades e reflexões dos participantes.
                </li>
                <li>Certificação dos participantes que obtiverem 75% de frequência.</li>
                </li>
            </ul>
            <p>Atribuições/responsabilidades da empresa:</p>
        </div>
        <div class="section">
            <h2>Detalhes do Projeto</h2>
            <p>Carga horária total do projeto: ##CARGA HORÁRIA##</p>
            <p>Valor do investimento: R$ ##INVESTIMENTO##</p>
            <p>Possíveis parcelamentos: ##PARCELAMENTO##</p>
        </div>
        <div class="section">
            <h2>Documentação Necessária</h2>
            <p>Para fechamento do contrato solicitamos que esta empresa / entidade nos encaminhe os seguintes documentos
                e informações:</p>
            <h3>Empresa privada:</h3>
            <ul>
                <li>Ato Constitutivo Estatuto ou Contrato Social em vigor acompanhado da última Alteração Contratual ou
                    a última Alteração Contratual Consolidada se houver devidamente registrados.</li>
                <li>Ata de eleição da Diretoria e/ou Conselho de Administração quando se aplicar.</li>
                <li>Procuração quando necessário.</li>
                <li>Cópia do comprovante de inscrição no cadastro nacional de pessoas jurídicas (CNPJ).</li>
                <li>Cópia da Identidade e do CPF do representante legal / administrador.</li>
                <li>Nome CPF e e-mail individual do representante legal e da testemunha que assinará o instrumento
                    contratual.</li>
                <li>Proposta final apresentada e aprovada.</li>
                <li>Data dos pagamentos de acordo com os possíveis parcelamentos.</li>
            </ul>
        </div>
        <div class="footer ">
            <p>Estamos à disposição para quaisquer esclarecimentos.</p>
            <p>Atenciosamente,</p>
            <p>Senac</p>
        </div>
    </div>
</body>

</html>